.detail {
  border: 10px solid rgb(0, 0, 0);
  width: 60%;
  height: 0%;
  padding: 20px;
  background-color: rgba(114, 19, 19, 0.842);
  text-decoration: none;
  color: black;
  border-radius: 10px;
  justify-content: center;
  margin: 50px auto 0;
  font-family: "Arial";
}

img {
  width: 40%;
  border-radius: 10px;
}

.gohome{
  
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 20px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
}